:root {
  --color1: lightgray;
  --color2: black;
  --color3: #a94038;
  --color4: #54201c;
  --color5: #bdbba3;
  --bg1b: #212321;
  --bg1: #383d38;
  --bg2: #455048;
  --icons: 24px;
  --link: #0687f5;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background: var(--bg1);
  background-image: url("bg.svg");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

body > div {
  flex-grow: 1;
  background: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: 1em;
  margin-right: 1em;
  width: 350px;
  max-width: 100%;
  min-height: 0;
}

.maintabs > .w_tabheader {
  background: var(--bg1b);
  min-height: auto;
  align-items: center;
}

.w_tabheader a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > * {
  flex-shrink: 1;
}

.w__hdiv,
.w__vdiv,
.w_hbox,
.w_vbox {
  display: flex;
}

.w_text {
  color: #909190;
  margin: 1em;
  font-family: sans-serif;
}

.w__hdiv,
.w_hbox {
  flex-direction: row;
}

.w__hdiv > *,
.w_hbox > * {
  min-width: 0;
}

.w__vdiv,
.w_vbox {
  flex-direction: column;
}

.w__vdiv > *,
.w_vbox > * {
  min-height: 0;
}

.w_player {
  flex-grow: 2;
}
.controls {
  flex-grow: 1;
}

.w_imagelink {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
}

.maintabs > .w_tabbody {
  flex-grow: 1;
  overflow: auto;
}

.controls {
  justify-content: space-evenly;
  align-items: center;
}

.w_toggle div {
  display: none;
}

body > .w_tabs > div {
  justify-content: space-around;
}

body > .w_tabs > div > .w_tab {
  border-top: 2px solid black;
  margin: 0.4em;
  padding-top: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

body > .w_tabs > div > .w_tab:hover {
  border-color: var(--color3);
  opacity: 100%;
}

body > .w_tabs > div > .w_tab.w_selected {
  border-color: var(--color3);
}

.w_tab img,
.w_slider > img,
.w_toggle input,
img.w_button {
  opacity: 50%;
  filter: invert(100%) brightness(190%);
}
.w_tab:hover img,
.w_tab.w_selected img,
.w_slider:hover > img,
.w_toggle:hover input,
img.w_button:hover {
  opacity: 100%;
}

.w_slider > * {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.w_toggle input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  display: inline-block;
  width: var(--icons);
  height: var(--icons);
}

.w_toggle.star_check input {
  background-image: url("star-outline.svg");
}

.w_toggle.star_check input:checked {
  background-image: url("star.svg");
}

.w_toggle,
.w_slider,
.w_button {
  margin: 4px;
}

.w_list {
  height: 100%;
  background: #232323;
}

.w_details[open="false"] > *:not(.w_detailssummary) {
  display: none !important;
}

.w_details .w_detailssummary {
  cursor: pointer;
  padding-left: calc(var(--icons) * 1.25);
  margin-left: calc(var(--icons) * -1.25);
  display: inline-block;
  background-image: url("chevron-right.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.w_details[open="true"] > .w_detailssummary {
  background-image: url("chevron-down.svg");
}

.trcklistelement {
  background: black;
  margin: 0.2em;
  padding: 0.2em;
  font-family: sans-serif;
  align-items: center;
}

.trcklistelement > a {
  margin: 4px;
}

.trcklistelement > div {
  justify-content: space-around;
  padding-left: 0.2em;
  width: 100%;
}

.trcklistelement > div > a {
  margin-left: 0.5em;
}

.trcklistelement .w_toggle {
  align-self: flex-end;
}

a {
  text-decoration: none;
  color: var(--link);
}

.settings {
  background-color: var(--bg2);
  border-left: 2px solid black;
  padding: 1em;
  padding-left: calc(var(--icons) * 1.25 + 1em);
  overflow-y: auto;
  color: var(--color5);
  font-family: sans-serif;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 0fr 0fr 1fr;
  align-items: center;
  text-transform: capitalize;
  grid-template-rows: 0fr 0fr 0fr 1fr;
  border-right: 2px solid black;
  grid-gap: 0.4em;
}

.settings .combined::after {
  content: "";
  grid-column: span 3;
  display: inline-block;
  height: 1em;
}

.settings .w_toggle input {
  background-image: url("checkbox-blank-outline.svg");
}

.settings .w_toggle input:checked {
  background-image: url("checkbox-marked-outline.svg");
}

.settings .w_details {
  display: contents;
}

.settings .w_detailssummary {
  grid-column: span 3;
}

.settings .w_details > .w_hbox {
  display: contents;
}

.settings .w_toggle {
  grid-column: 1;
  display: inline-block;
  min-width: auto;
}

.settings .w_slider {
  display: contents;
}

.settings .w_slider label {
  grid-column: 2;
  min-width: auto;
}

.settings .w_slider input {
  grid-column: 3;
}

.settings > .w_details:nth-child(1) > .w_detailssummary {
  margin-top: 0.2em;
}

.settings > .w_details > .w_detailssummary {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.settings > .w_details > .w_details > .w_detailssummary {
  margin-top: 0.5em;
  font-size: 1.2em;
}
