:root {
  --color1: lightgray;
  --color2: black;
  --color3: #a94038;
  --color4: #54201c;
  --bg1b: #212321;
  --bg1: #383d38;
  --bg2: #455048;
  --icons: 24px;
  --link: #0687f5;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background: var(--bg1);
  background-image: url('bg.svg');
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

body > div {
  height: 100%;
  background: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: 1em;
  margin-right: 1em;
  width: 350px;
  max-width: 100%;
}

.maintabs > .w_tabheader {
  background: var(--bg1b);
}

body > * {
  flex-shrink: 1;
}

.w__hdiv, .w__vdiv, .w_hbox, .w_vbox {
  display: flex;
}

.w__hdiv, .w_hbox {
  flex-direction: row;
}

.w__vdiv, .w_vbox {
  flex-direction: column;
}

.w_player, .controls {
  flex-grow: 0;
}

.maintabs > .w_tabbody {
  height: 100%;
}

.playbody {
  justify-content: space-evenly;
  height: 100%;
}

.controls {
  justify-content:space-evenly;
}

.w_toggle div {
  display: none;
}

body > .w_tabs > div {
  justify-content: space-around;
}

body > .w_tabs > div > .w_tab {
  border-top: 2px solid black;
  margin: 0.4em;
  padding-top: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

body > .w_tabs > div > .w_tab:hover {
  border-color: var(--color3);
  opacity: 100%;
}

body > .w_tabs > div > .w_tab.w_selected {
border-color: var(--color3);
}

.w_tab img, .w_slider > img, .w_toggle input, img.w_button {
  opacity: 50%;
  filter: invert(100%) brightness(190%);
}
.w_tab:hover img, .w_tab.w_selected img, .w_slider:hover > img, .w_toggle:hover input, img.w_button:hover {
  opacity: 100%;
}

.w_slider > * {
margin-left: 0.2em;
margin-right: 0.2em;
}

.w_toggle input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  display: inline-block;
  width: var(--icons);
  height: var(--icons);
}

.w_toggle.star_check input {
  background-image: url('star-outline.svg')
}

.w_toggle.star_check input:checked {
  background-image: url('star.svg')
}

.w_toggle, .w_slider, .w_button {
  margin: 4px;
}

.w_list {
  height: 100%;
  background: #232323;
}

.trcklistelement {
  background: black;
  margin: 0.2em;
  padding:  0.2em;
}

.trcklistelement > div {justify-content: space-around;padding-left: 0.2em;width: 100%;}

.trcklistelement .w_toggle {
  align-self: flex-end;
}

a {
  text-decoration: none;
  color: var(--link);
}